<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lilu.apptool">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".router.activity.SchemeFilterActivity">

            <intent-filter>
                <data
                    android:host="dd"
                    android:scheme="aa"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>

        </activity>
    </application>
</manifest>